@model WebApplication6.Dapper.FileEbook

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <div class="section-title">
                    <h2>Delete File</h2>
                </div>
                
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.FileName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FileName)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                    @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            @Html.ActionLink("Back to List", "FileUpload")
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
