<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bookyard.niyatimpatel.co.uk/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>https://bookyard.niyatimpatel.co.uk:8172/MsDeploy.axd?site=niyatim-001-subsite3</MSDeployServiceURL>
    <DeployIisAppPath>niyatim-001-subsite3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>ifc\niyatim-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="dbcon" Order="1" Enabled="False">
          <Destination Path="Data Source=sql5039.site4now.net;Initial Catalog=DB_A3583B_bookyard;Integrated Security=False;Persist Security Info=True;User ID=DB_A3583B_bookyard_admin;Password=justit123;TrustServerCertificate=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5039.site4now.net;Initial Catalog=DB_A3583B_bookyard;Integrated Security=True;User ID=DB_A3583B_bookyard_admin;Password=justit123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbcon_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5039.site4now.net;Initial Catalog=DB_A3583B_bookyard;User Id=DB_A3583B_bookyard_admin;Password=justit123;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="cons" Order="5" Enabled="False" xmlns="">
          <Destination Path="Data Source=sql5039.site4now.net;Initial Catalog=DB_A3583B_bookyard;Integrated Security=False;Persist Security Info=True;User ID=DB_A3583B_bookyard_admin;Password=justit123;TrustServerCertificate=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5039.site4now.net;Initial Catalog=DB_A3583B_bookyard;Integrated Security=True;User ID=DB_A3583B_bookyard_admin;Password=justit123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\cons_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5039.site4now.net;Initial Catalog=DB_A3583B_bookyard;User Id=DB_A3583B_bookyard_admin;Password=justit123;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)cons-Web.config Connection String">
      <ParameterValue>Data Source=sql5039.site4now.net;Initial Catalog=DB_A3583B_bookyard;Integrated Security=False;Persist Security Info=True;User ID=DB_A3583B_bookyard_admin;Password=justit123;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbcon-Web.config Connection String">
      <ParameterValue>Data Source=sql5039.site4now.net;Initial Catalog=DB_A3583B_bookyard;Integrated Security=False;Persist Security Info=True;User ID=DB_A3583B_bookyard_admin;Password=justit123;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>